@page
@model HeritageSpaces.Pages.Shared.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
    <h2>About <span style="color:red;">HeritageSpaces</span></h2>
    <p>
        Welcome to <strong>HeritageSpaces</strong> — HERITAGE SPACES offers comprehensive interior design services for both residential and commercial spaces. We blend creativity, functionality, and elegance to transform interiors into living works of art.
    </p>
</div>
