@page
@model HeritageSpaces.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<div class="container mt-5">
    <h2 class="mb-4">Gallery</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <img src="~/images/gallery1.jpg" class="img-fluid rounded shadow" alt="Gallery Image 1" />
        </div>
        <div class="col">
            <img src="~/images/gallery2.jpg" class="img-fluid rounded shadow" alt="Gallery Image 2" />
        </div>
        <div class="col">
            <img src="~/images/gallery3.jpg" class="img-fluid rounded shadow" alt="Gallery Image 3" />
        </div>
        <div class="col">
            <img src="~/images/gallery4.jpg" class="img-fluid rounded shadow" alt="Gallery Image 4" />
        </div>
        <div class="col">
            <img src="~/images/gallery5.jpg" class="img-fluid rounded shadow" alt="Gallery Image 5" />
        </div>
        <div class="col">
            <img src="~/images/gallery6.jpg" class="img-fluid rounded shadow" alt="Gallery Image 6" />
        </div>
        <div class="col">
            <img src="~/images/gallery7.jpg" class="img-fluid rounded shadow" alt="Gallery Image 7" />
        </div>
        <div class="col">
            <img src="~/images/gallery8.jpg" class="img-fluid rounded shadow" alt="Gallery Image 8" />
        </div>
        <div class="col">
            <img src="~/images/gallery9.jpg" class="img-fluid rounded shadow" alt="Gallery Image 9" />
        </div>
        <!-- keep going -->
        <div class="col">
            <img src="~/images/gallery10.jpg" class="img-fluid rounded shadow" alt="Gallery Image 10" />
        </div>
        <div class="col">
            <img src="~/images/gallery11.jpg" class="img-fluid rounded shadow" alt="Gallery Image 11" />
        </div>
        <div class="col">
            <img src="~/images/gallery12.jpg" class="img-fluid rounded shadow" alt="Gallery Image 12" />
        </div>

    </div>
</div>
